.home-navbar {
  width: 100%;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0vw 0px 0vw;
  position: relative;
  /* position: absolute; */
  z-index: 2;
}
.home-navbar-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  padding-left: 5.5vw;
  color: #666666;
}
.home-navbar-freelance {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-left: 11.5vw;
  color: #191a1e;
}
.home-navbar-nav {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 21vw;
  color: #666;
  text-decoration: none;
  padding-right: 2vw;
}
.home-navbar-ham {
  width: 40px;
  height: 30px;
  display: none;
  line-height: 5px;
  padding-right: 5vw;
  cursor: pointer;
}
.home-navbar-ham1 {
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background-color: #666;
}
.home-navbar-ham2 {
  width: 14px;
  height: 3px;
  border-radius: 3px;
  background-color: #666;
  margin-left: 14px;
}
.home-navbar-fullscreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #191a1e;
  margin-top: 10vh;
  flex-direction: column;
}
.home-navbar-fullscreen-ham {
  margin: 15vh 0 0 50vw;
  /* width:100vw; */
  display: flex;
  flex-direction: column;
  justify-content: right;
  /* text-align:; */
}
.home-navbar-fullscreen-ham-option {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  padding: 20px;
  color: white;
  display: flex;
  width: 170px;
  /* text-align:right; */
  display: flex;
  justify-content: right;
}
.home-page1 {
  /* width: 100vw; */
  display: flex;
  align-items: center;
  height: 88vh;
  justify-content: space-between;
}
.home-page1-navigation {
  padding: 30vh 65px 120px;
  position: fixed;
}
.home-page1-navigation-image {
  padding: 0px 0px 30px 0px;
}
.home-page1-introduction {
  font-family: Space Mono;
  font-style: normal;
  font-size: 55px;
  line-height: 67px;
  color: #666;
  width: 715px;
  padding: 0px 10vw 80px 15vw;
  text-align: left;
}
.home-page1-logo1 {
  display: none;
}
.home-page1-logo2 {
  padding-right: 15vw;
  padding-bottom: 100px;
}
@media only screen and (max-width: 1000px) {
  .home-navbar {
    /* position:fixed; */
  }
  .home-navbar-ham {
    display: block;
  }
  .home-page1-logo2 {
    display: none;
  }
  .home-page1-logo1 {
    display: block;
    padding-top: 100px;
  }
  .home-page1 {
    display: block;
    height: 100%;
  }
  .home-page1-introduction {
    font-size: 6vw;
    padding: 100px 1vw 100px 10vw;
    width: 80vw;
  }
  .home-navbar-freelance {
    display: none;
  }
  .home-navbar-nav {
    display: none;
  }
  .home-page1-navigation {
    display: none;
    padding: 40vh 0 120px 8vw;
  }
  .home-page1-navigation-image1{
    width:17px;
    height: 17px;
  }
}
@media only screen and (max-width: 600px) {
  .home-navbar-name {
    font-size: 20px;
    line-height: 30px;
  }
  .home-page1-introduction {
    line-height: 8vw;
    padding: 50px 1vw 100px 10vw;
  }
  .home-page1-logo1-img {
    width: 270px;
  }
  .home-page1-logo1 {
    padding-top: 50px;
  }
  .home-navbar-fullscreen-ham{
    margin: 15vh 0 0 40vw;
  }
}
.home-page2 {
  /* width: 100vw; */
  /* height: 100vh; */
  background-color: #191a1e;
  text-align: left;
}
.home-page2-whatIdo {
  display: flex;
  flex-wrap: wrap;
  padding: 103px 7vw 173px 10vw;
}
.home-page2-whatIdo-intro {
  width: 450px;
  height: 342px;
  margin-right: 3vw;
  margin-top: 3vw;
}
.home-page2-whatIdo-box {
  width: 370px;
  height: 262px;
  background-color: #323232;
  margin-right: 3vw;
  margin-top: 3vw;
  padding: 40px;
  border-radius: 5px;
}
.home-page2-whatIdo-intro-heading {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 47px;
  color: white;
  padding: 36px 0px;
}
.home-page2-whatIdo-intro-info {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  color: white;
  width: 90%;
}
.home-page2-whatIdo-box-heading {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #c7c7c7;
  padding-top: 25px;
}
.home-page2-whatIdo-box-image {
}
.home-page2-whatIdo-box-heading-prototyping {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #c7c7c7;
  padding-top: 45px;
}
.home-page2-whatIdo-box-info {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  color: white;
  padding-top: 15px;
}
@media only screen and (max-width: 600px) {
  .home-page2-whatIdo-intro-heading {
    font-size: 23.3068px;
    line-height: 35px;
  }
  .home-page2-whatIdo-intro-info {
    font-size: 16.0234px;
    line-height: 24px;
  }
  .home-page2-whatIdo-box {
    width: 311px;
    height: 200px;
    padding: 30px 20px 0px 30px;
  }
  .home-page2-whatIdo-box-info {
    font-size: 14.8739px;
    line-height: 22px;
  }
  .home-page2-whatIdo-box-heading {
    font-size: 13.5217px;
    line-height: 20px;
  }
  .home-page2-whatIdo-box-image {
    height: 48.68px;
  }
  .home-page2-whatIdo-box-image-prototyping {
    height: 25.82px;
    padding-top: 20px;
  }
  .home-page2-whatIdo-box-heading-prototyping {
    padding-top: 20px;
    font-size: 13.5217px;
    line-height: 20px;
  }
}
.home-page3-projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10vw 150px;
}
.home-page3-projects-1 {
  width: 493px;
  height: 366px;
  background-color: #444;
}
.home-page3-projects-2 {
  width: 493px;
  height: 366px;
  background-color: #bbb;
  background-image: url("../assets/project2.png");
}
.home-page3-projects-3 {
  width: 493px;
  height: 366px;
  background-color: #ccc;
  background-image: url("../assets/project3.png");
}
.home-page3-projects-4 {
  width: 493px;
  height: 366px;
  background-color: #ddd;
  background-image: url("../assets/project4.png");
}
.home-page3-projects-5 {
  width: 493px;
  height: 366px;
  background-color: #eee;
  background-image: url("../assets/project5.png");
}
.home-page3-heading1 {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  width: 300px;
  padding: 60px 5vw;
  text-align: left;
  display: none;
}
.home-page3-heading2 {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 77px;
  width: 300px;
  padding: 60px 5vw;
  text-align: left;
}
.home-page3-viewmore {
  display: none;
}
@media only screen and (max-width: 600px) {
  .home-page3-projects {
    padding: 20px 10vw 0px;
  }
  .home-page3-heading1 {
    display: block;
  }
  .home-page3-heading2 {
    display: none;
  }
  .home-page3-projects-1 {
    height: 231.22px;
    margin-bottom: 20px;
  }
  .home-page3-projects-2 {
    height: 231.22px;
    margin-bottom: 20px;
  }
  .home-page3-projects-3 {
    display: none;
  }
  .home-page3-projects-4 {
    display: none;
  }
  .home-page3-projects-5 {
    display: none;
  }
  .home-page3-viewmore {
    font-size: 16px;
    line-height: 147.1%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    color: rgba(0, 0, 0, 0.7);
    opacity: 0.6;
  }
}
