.about-navbar {
  display: flex;
  height: 9vh;
  padding: 30px 40px 0 0;
  position:absolute;
}
.about-name {
  justify-content: space-between;
  align-items: center;
  display: none;
  width: 100%;
  height: 9vh;
  text-align: left;
  padding: 30px 0vw 0px 0vw;
}
.about-page1 {
  height: 800px;
  position: relative;
  z-index: -1;
  padding-top: 9vh;
}
.about-page1-name {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #a58861;
  text-align: left;
  padding: 150px 0 0 24vw;
  /* position: absolute; */
}
.about-page1-aboutme {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 77px;
  color: black;
  text-align: left;
  padding: 0 0 0 24vw;
}
.about-page1-intro {
  display: flex;
  position: absolute;
  padding: 100px 9.5vw;
}
.about-page1-intro-image {
  width: 38vw;
  background-color: #333;
  background-image: url("../assets/lakshya.png");
  background-size: cover;
  filter: grayscale(100%);
}
.about-page1-intro-interests {
  background-color: #191a1e;
  color: white;
  width: 32vw;
  padding: 80px 60px;
  text-align: left;
}
.about-page1-intro-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
}
.about-page1-crazy-heading {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ababab;
  padding: 80px 0 20px 0;
}
.about-page1-crazy-stuff {
  display: flex;
  flex-wrap: wrap;
}
.about-page1-crazy-stuff-individual {
  width: 190px;
  padding: 10px 0px;
}
.about-page1-crazy-stuff-heading {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.about-page2 {
  height: 1200px;
  background-color: #f0f0f0;
  padding: 500px 9.5vw 0;
  text-align: left;
}
.about-page2-values-tagline {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #666666;
  padding-left: 170px;
}
.about-page2-values-heading {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 77px;
  color: #191a1e;
  padding-left: 170px;
}
.about-page2-values-allthoughts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 120px;
}
.about-page2-values-individual {
  width: 282px;
  padding: 50px 3vw;
}
.about-page2-values-individual-heading {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 47px;
  color: #a58861;
}
.about-page2-values-individual-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 174%;
  color: #666666;
}
.about-page2-friends {
  position: absolute;
  height: 553px;
  width: 78vw;
  background-color: #191a1e;
  margin-top: 200px;
}
.about-page2-friends-tagline {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: white;
  padding: 64px 0 0 10vw;
}
.about-page2-friends-heading {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 77px;
  color: white;
  padding: 0 0 0 10vw;
}
.about-page3 {
  padding: 500px 9.5vw 0;
  text-align: left;
  height: 100%;
  overflow: hidden;
  margin-bottom: 200px;
}
.about-page3-images-col2-text1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #191a1e;
  padding: 70px 12vw 50px;
  width: 80vw;
  display: none;
}
.about-page3-images-col2-text2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 30px;
  color: #191a1e;
  padding: 30px 6vw 10px;
  width: 25vw;
}
.about-page2-values-images {
  display: flex;
  padding-top: 100px;
}
.about-page3-images-col1-image1 {
  width: 37vw;
  height: 25vw;
  margin: 20px;
  background-color: #aaa;
  background-image: url("../assets/friends1.png");
  background-size: contain;
}
.about-page3-images-col1-image2 {
  width: 37vw;
  height: 29vw;
  margin: 40px 20px;
  background-color: #aaa;
  background-image: url("../assets/friends2.png");
  background-size: cover;
}
.about-page3-images-col2-image11 {
  width: 37vw;
  height: 25vw;
  margin: 40px 20px;
  background-color: rgb(14, 8, 8);
  background-image: url("../assets/friends3.png");
  background-size: cover;
}
.about-page3-images-col2-image12 {
  width: 37vw;
  height: 25vw;
  margin: 40px 20px;
  background-color: rgb(14, 8, 8);
  background-image: url("../assets/friends3.png");
  background-size: cover;
  display: none;
}
.about-page3-images-col2-image2 {
  width: 37vw;
  height: 28vw;
  margin: 40px 20px;
  background-color: #aaa;
  background-image: url("../assets/friends4.png");
  background-size: contain;
}

@media only screen and (max-width: 1000px) {
  .about-name {
    display: block;
  }
  .about-page1 {
    height: 100%;
  }
  .about-page1-name {
    padding: 0 0 0 10vw;
  }
  .about-page1-aboutme {
    padding: 0 0 0 10vw;
  }
  .about-page1-intro {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    display: block;
    width: 100%;
    position: relative;
  }
  .about-page1-intro-image {
    height: 89vw;
    width: 100%;
    background-size: contain;
  }
  .about-page1-intro-interests {
    width: auto;
  }
  .about-page1-crazy-stuff-individual-people {
    width: 190px !important;
  }
  .about-page2 {
    height: 100%;
    padding: 100px 0 0 0;
  }
  .about-page2-values-tagline {
    padding-left: 9.5vw;
  }
  .about-page2-values-heading {
    padding-left: 9.5vw;
  }
  .about-page2-friends {
    position: relative;
    margin-top: 0;
    width: 100%;
  }
  .about-page2-values-allthoughts {
    padding: 120px 9.5vw;
  }
  .about-page3 {
    padding: 150px 0 0 0;
  }
  .about-page3-images-col2-text1 {
    display: block;
  }
  .about-page3-images-col2-text2 {
    display: none;
  }
  .about-page2-values-images {
    padding: 0 9.5vw;
  }
  .about-page3-images-col2-image11 {
    display: none;
  }
  .about-page3-images-col2-image12 {
    display: block;
    margin: 5px 9.5vw;
    width: 81.3vw;
    height: 50vw;
  }
  .about-page3-images-col2-image2 {
    width: 40vw;
    height: 54.5vw;
    margin: 5px 5px;
    background-color: #aaa;
    background-image: url("../assets/friends5.png");
    background-size: cover;
  }
  .about-page3-images-col1-image1 {
    margin: 5px 5px 5px 0px;
    width: 40vw;
  }
  .about-page3-images-col1-image2 {
    margin: 5px 5px 5px 0px;
    width: 40vw;
  }
}
@media only screen and (max-width: 600px) {
  .about-page1-name {
    font-size: 16px;
    line-height: 24px;
  }
  .about-page1-aboutme {
    font-size: 34px;
    line-height: 50px;
  }
  .about-page1-intro-interests {
    padding: 60px 40px;
  }
  .about-page1-intro-text {
    font-size: 16px;
    line-height: 173.5%;
  }
  .about-page1-crazy-heading {
    font-size: 16px;
    line-height: 24px;
  }
  .about-page1-crazy-stuff-heading {
    font-size: 15.1351px;
    line-height: 22px;
  }
  .about-page1-crazy-stuff-individual {
    width: 120px !important;
  }
  .about-page2-values-tagline {
    font-size: 14.0113px;
    line-height: 21px;
  }
  .about-page2-values-heading {
    font-size: 29.774px;
    line-height: 44px;
  }
  .about-page2-values-individual {
    padding: 15px 3vw;
  }
  .about-page2-values-individual-heading {
    font-size: 20px;
    line-height: 30px;
  }
  .about-page2-values-individual-text {
    font-size: 12px;
    padding-top: 10px;
    line-height: 174%;
  }
  .about-page2-friends-tagline {
    font-size: 14px;
    line-height: 21px;
  }
  .about-page2-friends-heading {
    font-size: 30px;
    line-height: 44px;
  }
  .about-page3-images-col2-text1 {
    font-size: 13.7204px;
    line-height: 21px;
  }
}
